body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.miembro-container {
    min-height: 100vh;
    background-color: #e5d3b3;
}
.header-container {
    position: relative;
    height: 500px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); 
}
.header-content {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%); 
    text-align: left;
    color: #fff;
    max-width: 800px;
    padding: 0 20px;
}
.header-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;  
}
.header-image-cat {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}
.nav-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}
.logo {
    width: 50px; 
    height: 50px;
    background-image: url('D:/Nueva carpeta/Desktop/actividad mujeres/ensayo/src/assets/logo-app.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.nav-links a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px; 
}
.nav-links {
    margin-left: 30px;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(24, 23, 23, 0.2);
    padding: 10px 50px;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    max-width: 800px;
    padding: 0 20px;
}
.header-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.header-description {
    font-size: 18px;
    margin-top: 10px;
}
.paw-background {
    background-image: url('assets/img/huellas-gato.png');
    background-repeat: repeat;
    background-size: 50px;
    background-position: center;
}
.section-conocenos {
    text-align: center;
    padding: 10px 10px;
}
.miembr-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.miembros-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.miembro-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.miembro-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto 10px;
}
.cargo {
    color: #00a8cc;
    font-weight: bold;
    margin-top: 5px;
}
.social-icons a {
    margin: 5px;
    color: #00a8cc;
    font-size: 24px;
}
.section-proposito-metas {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}
.proposito, .metas {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
  
  
  