.subtitle-main{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(18px + 1.2vw);
    font-family: "Unlock", serif;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(25px + 2vw);
    font-size: calc(20px + 1.5vw);
}


